<h1>体がうれしい健康ごはんって？</h1>

<p>本サイトは、健康に配慮したレシピ検索ができたり、自分が考えたレシピを投稿できるSNSサイトです。</p>
<p>食事の献立に困ったときや、健康的な食事のポイントが知りたいときに参考になれば幸いです。</p>
<p>本サイトは通院されていない、健康に気を付けたい人へ向けたレシピサイトです。具体的な疾患への食事療法とは異なりますので、ご承知おきください。
なお、現在闘病中の方は本サイトはあくまで参考程度にとどめていただき、専門家などに相談されることを推奨いたします。</p>
